################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1/v17
/ConsoleApp1/ConsoleApp2/obj
/ConsoleApp1/obj
